@CHARSET "UTF-8";

.agm_google_maps img {
	background: none repeat scroll 0 0 transparent !important;
	border: medium none !important;
	max-width: none !important;
	max-height: none !important;
	padding: 0 !important;
	margin: 0 !important;	
}

.agm_mh_container ul.agm_mh_marker_list {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
}
.agm_mh_container ul li {
	margin-top: .2em;
	padding: .2em;
	border: 1px solid #ccc;
	background-color: #eef;
	list-style: none;
	overflow: hidden;
}
a.agm_mh_marker_item {
	text-decoration: none;
	color: #333;
}
a.agm_mh_marker_item img {
	float: left;
}
a.agm_mh_marker_item .agm_mh_marker_item_content {
	margin-left: 5px;
}
.agm_mh_container input {
	margin: 0;
}


.agm_mh_info_content {
	font-size: 11px;
}
.agm_mh_info_content a {
	color: #00F;
}
.agm_mh_info_title {
	font-weight: bold;
}
img.agm_mh_info_icon {
	float: right;
}

.agm_post_links_container {
	font-size: .9em;
}
.agm_post_links_container ul {
	list-style-type: none !important;
}
.agm_post_links_container ul li {
	margin: 0; padding: 0;
	border: none;
}

/* 40641-1334082152-au */